@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background: #F6F7FB;
    --title: #333333;
    --subtitle: #8C8C8C;
    --bluedark: #004186;
    --bluelight: #4194F4;
    --poppins: 'Poppins', sans-serif;
    --border: 0.1rem solid rgb(237, 237, 237);

    /*STATUS====================================*/
    /*Risco Baixo*/
    --border-green: #28C36B;
    --gb-green: #DDFFE1;

    /*Risco Médio*/
    --border-yellow: #C69900;
    --gb-yellow: #F4ECD0;

    /*Risco Alto*/
    --border-red: #F14336;
    --gb-red: #FEDADA;
}

html,
body {
    background: var(--background);
}

/* TOP=================================================================*/
.container-top {
    width: 100%;
    height: 180px;
    background: linear-gradient(288deg, rgba(159, 191, 216, 0.20) 0%, rgba(186, 211, 231, 0.20) 100%);
}

.container-top-items {
    width: 92%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.6rem;
}

/* TOP LEFT=================================================================*/
.container-top-items-left {
    display: flex;
    align-items: center;
}

/* TOP LEFT - LOGO*/
.logo-painel {
    padding-right: 1rem;
}

.logo-painel img {
    width: 240px;
    height: auto;
    display: flex;
    align-items: center;
}

/* TOP RIGHT=================================================================*/
.container-top-items-right {
    display: flex;
    align-items: center;
    ;
}

/* TOP - LOGOS*/
.logos {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.container-logos {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img {
    height: 25px;
}

/* TOP - CARD INFO*/
.card-info-items {
    width: 200px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(45deg, #378DEF, #57a5ff);
    border-radius: 6px;
}

.timer {
    display: flex;

}

.timer h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

#temp {
    color: #fff;
    font-weight: normal;
}

.city {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    line-height: 0.8rem;
}

.clima {
    display: flex;
    flex-direction: column;
}

.clima h2 {
    font-size: 0.7rem;
    color: #fff;
    display: flex;
    line-height: 0.5rem;
}

#umidad {
    display: none;
}

/*CARDs ======================================================================*/
.container-menu-cards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.menu-cards {
    width: 92%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.card {
    width: 340px;
    height: fit-content;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background: #fff;
    box-shadow: 2px 2px 4px 1px rgba(219, 219, 219, 0.1)
}

.card-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-left {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

#nm-paciente {
    color: var(--title);
    font-size: 1.2rem;
    font-weight: 700;
}

.icon-paciente {
    width: 40px;
    height: 40px;
    background: #EBF6FF;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-paciente img {
    width: 18px;
}

.location-paciente {
    color: var(--subtitle);
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location-paciente img {
    width: 16px;
}

.setor-paciente {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.setor-paciente p {
    font-size: 0.7rem;
    line-height: 0.4rem;
}

.leito-paciente {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.leito-paciente p {
    font-size: 0.7rem;
    line-height: 0.4rem;
}

.card-header-right {
    display: flex;
    align-items: center;
    gap: 0.4rem;

}

.card-header-right img {
    width: 14px;

}

#nr-atend {
    color: var(--title);
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 1rem;
    border: var(--border);
    padding: 0.2rem 0.6rem;
    line-height: 1rem;
}

.card-body {
    width: 94%;
    height: fit-content;
    border-radius: 0.4rem;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.6rem 0.4rem;
    gap: 0.6rem;
}

.card-body p {
    color: var(--subtitle);
    font-size: 0.8rem;
    border-radius: 1rem;
    border: var(--border);
    padding: 0.2rem 0.8rem;
    line-height: 1rem;
}

#risco-queda {
    border: var(--border-green) solid 0.1rem;
    color: var(--border-green);
    background: var(--gb-green);
}

#risco-news {
    border: var(--border-red) solid 0.1rem;
    color: var(--border-red);
    background: var(--gb-red);
}

#risco-dor {
    border: var(--border-yellow) solid 0.1rem;
    color: var(--border-yellow);
    background: var(--gb-yellow);
}


/*==RESPONSIVIDADE=================================================================*/

@media screen and (max-width:800px) {
    .card-info {
        display: none;
    }

    .container-logos {
        display: none;
    }

    .logos {
        display: none;
    }

    .container-top-items {
        justify-content: center;
        padding-top: 3rem;
    }
    
}